@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

div ul {
    list-style: none;
}

body {
    font-family: "나눔스퀘어";
}

/************************ about-banner **********************/

#small-banner {
    position: relative;
    width: 1900px;
    margin: 0 auto;
}

#small-banner > a > img {
    width: 1900px;
    height: 100px;
    margin-top: 10px;
}

#small-banner > h2 {
    position: absolute;
    color: #fff;
    font-size: 18px;
    top: 45%;
    right: 40%;
}

/************************ about-box **********************/

#about-box {
    width: 1200px;
    margin: 0 auto;
}

/************************ mark **********************/

#mark {
    width: 1200px;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    border-bottom: 1px solid;
}

/************************ about-company **********************/

.about-company {
    width: 1200px;
    margin: 0 auto;
}

.about-company > h2 {
    font-size: 35px;
    font-weight: 500;
    border-bottom: 5px solid #214ea1;
    width: 170px;
    padding-bottom: 10px;
}

.icon {
    color: gray;
    padding: 27px 5px;
    font-size: 15px;
    text-align: right;
    width: 240px;
    height: 30px;
}

.icon > a {
    cursor: pointer;
}

/************************ about-main **********************/

#about-main {
    width: 1100px;
    margin: 0 auto;
}

.about-box {
    display: flex;
}

.company-img > img {
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #ccc;
    margin-left: 22px;
}


/************************ company-box **********************/

.company-box {
    width: 500px;
    height: 500px;
    background-color: #214ea1;
    position: relative;
    z-index: 1; 
    left: -4%;
    margin-top: 200px;
    border-radius: 20px;
}

.logo-text {
    position: absolute;
    top: -30%;
    right: 1%;
    text-align: right;
}

.company-logo > img {
    width: 136px;
    height: 59px;
}

/************************ company-text **********************/

.company-text {
   width: 430px;
   height: 400px;
   margin: 0 auto;
   display: flex;
   color: #fff;
   font-size: 18px;
}

.com-text1, .com-text2 {
    margin-top: 25px;
}

.com-text1 > li, .com-text2 > li {
    display: block;
    padding: 45px 0 0 20px;
} 

.com-text2 > li {
   list-style: none;
}

/************************ bot-text **********************/

#bot-text {
    width: 1100px;
    margin: 0 auto;
}

/************************ bot-text1 **********************/

.bot-text1 {
    margin-top: 70px;
}

.bot-text1 > h2 {
    font-size: 22px;
    font-weight: 800;
}

.text-blue {
    color: #214ea1;
}

.bot-text1 > li {
    display: block;
    list-style: none;
    margin-top: 30px;
    font-size: 18px;
    line-height: 25px;
}

/************************ bot-text2 **********************/

.bot-text2 {
    margin-top: 50px;
}

.bot-text2 > h2 {
    font-size: 22px;
    font-weight: 800;
}

.text-blue {
    color: #214ea1;
}

.bot-text2 > li {
    display: block;
    list-style: none;
    margin-top: 30px;
    font-size: 18px;
    line-height: 25px;
}






















/********************************************************** 반응형 ****************************************************/

@media screen and (max-width: 767px) {
    * {
        box-sizing: border-box;
        outline: none;
        font-size: 14px;
        font-family: "나눔스퀘어";
    }

    a,
    a:link,
    a:visited {
        text-decoration: none;
        color: inherit;
    }

    body {
        color: #333;
        font-size: 16px;
        font-family: "나눔스퀘어";
        position: relative;
        overflow-x: hidden;
    }

    /******************** m - header ******************/

    header {
        max-width: 100%;
        height: 30px;
        padding-top: 0;
        margin-bottom: 30px;
    }

    .logo {
        padding: 25px 0 0 0;
        margin-left: 10px;
    }

    .logo>a>img {
        width: 65px;
    }


    /******************** header menu ******************/

    #gnb {
        display: none;
    }

    /******************** section******************/

    section {
        max-width: 100%;
        min-width: 100%;
    }

    

    /************************ m - about-banner **********************/

    #small-banner {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }

    #small-banner > a > img {
        width: 1900px;
        height: 100px;
        margin-top: 10px;
    }

    #small-banner > h2 {
        position: absolute;
        color: #fff;
        font-size: 13px;
        top: 50%;
        right: 14%;
    }

    /************************ m - about-box **********************/

    #about-box {
        width: 95%;
        margin: 0 auto;
    }

    /************************ m - mark **********************/

    #mark {
        width: 100%;
        height: 45px;
        margin: 0 auto;
        margin-top: 5%;
        display: flex;
        border-bottom: 1px solid;
    }

    /************************ about-company **********************/

    .about-company {
        width: 100%;
        margin: 0 auto;
    }

    .about-company > h2 {
        font-size: 27px;
        font-weight: 500;
        border-bottom: 5px solid #214ea1;
        width: 170px;
        /* padding-bottom: 20px; */
    }

    .icon {
        color: gray;
        padding: 20px 0;
        font-size: 12px;
        text-align: right;
        width: 240px;
        height: 30px;
    }

    .icon > a {
        cursor: pointer;
    }

    /************************ about-main **********************/

    #about-main {
        width: 100%;
        margin: 0 auto;
    }

    .about-box {
        display: flex;
        width: 96%;
        margin: 0 auto;
    }

    .company-img > img {
        margin-top: 150px;
        border-radius: 20px;
        box-shadow: 10px 10px 10px #ccc;
        margin-left: 0px;
        /* width: 400px; */
        width: 340px;
    }


    /************************ company-box **********************/

    .company-box {
        width: 340px;
        height: 300px;
        background-color: #214ea1;
        position: relative;
        z-index: 1;
        left: -74%;
        margin-top: 410px;
        border-radius: 20px;
    }

    .logo-text {
        position: absolute;
        top: -123%;
        left: auto;
        text-align: left;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 345px;
        padding: 2px 0 0 5px;
    }

    .logo-text > h2 {
        font-size: 20px;
        font-weight: 800;
    }

    .company-logo > img {
        width: 105px;
        height: 50px;
    }

    /************************ company-text **********************/

    .company-text {
        width: 430px;
        height: 400px;
        margin: 0 auto;
        display: flex;
        color: #fff;
        font-size: 18px;
    }

    .com-text1, .com-text2 {
        margin-top: 0;
    }

    .com-text1 > li, .com-text2 > li {
        display: block;
        padding: 30px 0 0 20px;
    } 

    .com-text2 > li {
        list-style: none;
    }

    /************************ bot-text **********************/

    #bot-text {
        width: 96%;
        margin: 0 auto;
    }

    /************************ bot-text1 **********************/

    .bot-text1 {
        margin-top: 70px;
    }

    .bot-text1 > h2 {
        font-size: 18px;
        font-weight: 800;
        line-height: 30px;
    }

    .text-blue {
        color: #214ea1;
        font-size: 18px;
    }

    .bot-text1 > li {
        display: block;
        list-style: none;
        margin-top: 20px;
        font-size: 15px;
        line-height: 26px;
    }

    /************************ bot-text2 **********************/

    .bot-text2 {
        margin-top: 50px;
    }

    .bot-text2 > h2 {
        font-size: 18px;
        font-weight: 800;
        line-height: 30px;
    }

    .text-blue {
        color: #214ea1;
    }

    .bot-text2 > li {
        display: block;
        list-style: none;
        margin-top: 20px;
        font-size: 15px;
        line-height: 26px;
    }




   
    
    /***************** footer *****************/
    
    .footer {
        margin-top: 100px;
    }
    
    .footer-line {
        border-top: 1px solid #837e7e;
        border-bottom: 1px solid #837e7e;
        padding: 10px 10px;
        max-width: 100%;
        min-width: 100%;
    }
    
    .footer-menu {
        display: flex;
        justify-content: center;
        list-style: none;
        width: 100%;
        margin-left: 0px;
    }
    
    .company {
        font-weight: bold;
    }
    
    .footer-menu>li {
        display: block;
        padding: 0 3px 0 15px;
    }
    
    .manager {
        margin-left: 100px;
    }
    
    /***************** footer - logo *****************/
    
    .logo-info {
        width: 100%;
        margin: 0 auto;
    }
    
    .flogo {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .f-box {
        margin-top: 30px;
        display: block;
    }
    
    .flogo>a>img {
        width: 92px;
    }
    
    .info {
        list-style: none;
        margin-left: 14px;
        text-align: center;
    }
    
    .info>li {
        line-height: 25px;
        font-size: 15px;
    }
    
    /***************** top - btn *****************/
    
    .top-btn {
        right: 15px;
        bottom: -20px;
        position: fixed;
    }
    
    .top-btn>a>img {
        width: 50px;
        margin-bottom: 30px;
    }



    /******************************** 모바일 메뉴 *********************************/

    /***************** m-back *****************/

    #m-back {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.75);
        z-index: 10;
        display: none;
    }

    #m-header {
        margin-top: 12px;
    }

    #m-menu {
        background: rgb(255, 255, 255);
        position: absolute;
        width: 250px;
        height: 1155px;
        top: 0;
        right: 0;
        z-index: 11;
        display: block;
        right: -100%;
    }

    #m-open {
        display: block;
        position: absolute;
        right: 0;
        bottom: -34px;
    }

    #m-open > img {
        width: 43px;
    }

    /***************** title *****************/

    .title {
        display: flex;
        border-bottom: 1px solid #ccc;
        width: 250px;
        padding-bottom: 5px;
        color: #214ea1;
    }

    .title > h2 {
        font-size: 17px;
        font-weight: 900;
        margin: 15px 147px 0 13px;
    }

    .close > img {
        width: 40px;
        text-align: right;
        margin-top: 3px;
    }

    /***************** m-gnb *****************/

    #m-gnb {
        list-style: none;
        width: 230px;
    }

    #m-gnb > li {
        border-bottom: 1px solid #ccc;
        width: 250px;
        cursor: pointer;
    }

    .m-gnb-2 {
        font-size: 14px;
        font-weight: bold;
        padding: 25px 0 0 15px;
        padding-bottom: 5px;
    }

    .down {
        font-size: 15px;
        position: absolute;
        right: 15px;
        transition-duration: (0, -50%);
    }

    .up {
        font-size: 15px;
        position: absolute;
        right: 15px;
        display: none;
    }

    /***************** m-submenu *****************/

   
    .m-submenu {
        display: none;
    }

    .m-submenu > li {
        background: #f1f1f1;
        padding: 8px 5px 8px 23px;
    }

    .m-submenu > li > a {
        font-size: 12px;
        font-weight: bold;
    }

}

