@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

div ul {
    list-style: none;
}

@font-face {
    src: url("../font/NanumSquareR.ttf");
    /* src: url("../font/NanumSquareEB.ttf");
    src: url("../font/NanumSquareL.ttf");
    src: url("../font/NanumSquareR.ttf"); */
    font-family: "나눔스퀘어";
}

body {
    font-family: "나눔스퀘어";
}

#m-menu {
    display: none;
}

#m-open {
    display: none;
}

.title {
    display: none;
}

/***************** header *****************/

header {
    width: 1400px;
    margin: 0 auto;
    padding-top: 34px;
    position: relative;
    margin-bottom: 60px;
}

#headline {
    display: flex;
    position: absolute;
    z-index: 2;
}

.logo>a>img {
    width: 104px;
}

/***************** 상단메뉴 *****************/

#gnb {
    display: flex;
    margin-top: 20px;
    margin-left: 180px;
    width: 1400px;
    list-style: none;
    column-gap: 7rem;
}

#gnb>li {
    /* padding-right: 2rem; */
    /* margin-left: 100px; */
    text-align: center;
    list-style: none;
    display: block;
}

#gnb>li>a {
    font-weight: bold;
    display: block;
    height: 30px;
    text-align: center;
    width: 195px;
    margin-left: 5px;
}

#gnb li>a::after {
    display: block;
    content: "";
    border-bottom: 3px solid #8bb929;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

#gnb li>a:hover::after {
    transform: scaleX(1);
}

/***************** 서브메뉴 *****************/

.submenu {
    display: none;
    width: 200px;
    background: #fff;
    /* height: 200px; */
    box-shadow: 2px 2px 4px #ccc;
}

.submenu a {
    display: block;
    color: #222222;
    line-height: 30px;
    padding-top: 15px;
    text-align: center;
    transition-duration: .4s;
}

.submenu>li {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.submenu>li>a {
    text-align: center;
    width: 125px;
}

.submenu li>a::after {
    display: block;
    content: "";
    border-bottom: 1px solid #8bb929;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.submenu li>a:hover::after {
    transform: scaleX(1);
}

.submenu-3 {
    width: 200px;
    background: #fff;
    /* height: 200px; */
    box-shadow: 2px 2px 4px #ccc;
    display: none;
}

.submenu-3 a {
    display: block;
    color: #222222;
    line-height: 30px;
    padding-top: 15px;
    text-align: center;
    transition-duration: .4s;
}

.submenu-3>li {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.submenu-3>li>a {
    text-align: center;
    width: 125px;
}

.submenu-3 li>a::after {
    display: block;
    content: "";
    border-bottom: 1px solid #8bb929;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.submenu-3 li>a:hover::after {
    transform: scaleX(1);
}

/***************** 배너 *****************/

#banner {
    position: relative;
    overflow: hidden;
}

#banner>a>img {
    width: 2560px;
    margin-top: 10px;
}

#banner>h2 {
    position: absolute;
    color: #fff;
    font-size: 60px;
    top: 25%;
    right: 55%;
}

/************************ about-box **********************/

#about-box {
    width: 1200px;
    margin: 0 auto;
}

/************************ mark **********************/

#mark {
    width: 1200px;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    border-bottom: 1px solid;
}

/************************ about-company **********************/

.about-company {
    width: 1200px;
    margin: 0 auto;
}

.about-company > h2 {
    font-size: 35px;
    font-weight: 500;
    border-bottom: 5px solid #214ea1;
    width: 200px;
    padding-bottom: 10px;
}

.icon {
    color: gray;
    padding: 27px 5px;
    font-size: 15px;
    text-align: right;
    width: 240px;
    height: 30px;
}

.icon > a {
    cursor: pointer;
}

/************************************************* 공지사항 ********************************************/

#c-notice {
    width: 1200px;
    margin: 0 auto;
}

.c-notice-box {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 40px;
}

/************************ c-notice-1 **********************/

.c-notice-1 {
    width: 1200px;
}

.c-notice-1 > li {
    width: 1200px;
    display: block;
    font-size: 19px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 10px 0 10px 0;
}

.c-notice-1 > li > a {
    padding-left: 50px;
}

.c-notice-1 > li:hover {
    background: #eee;
}

/************************ c-notice-2 **********************/

.c-notice-2 {
    padding-left: 59%;
    font-size: 16px;
    color: grey;
}

/* .c-notice-2 {
    width: 400px;
}

.c-notice-2 > li {
    text-align: right;
    color: grey;
}

.c-notice-2 > li > a {
    padding-right: 50px;
}

.c-notice-1 > li, .c-notice-2 > li {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 10px 0 10px 0;
}

.c-notice-1 > li:hover, .c-notice-2 > li:hover {
    background: #bbb;
} */

/************************************************* news-box ********************************************/

#news-box {
    width: 1200px;
    margin: 0 auto;
}

/********************** news **********************/

.news {
    list-style: none;
    position: relative;
}

.news > li {
    font-size: 18px;
    background: #eee;
    padding: 25px 0 25px 0;
    text-align: center;
    border-bottom: 1px solid #aaa;
}

.article {
    position: absolute;
    right: 10px;
    top: 5px;
    color: gray;
}